################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Middleware_Indolge/v17/DocumentLayout.tmp.json
*.vsidx
*.bin
/.vs/Middleware_Indolge/v17/DocumentLayout.backup.json
/.vs/Middleware_Indolge/v17/.suo
/.vs/Middleware_Indolge/v17/.futdcache.v2
/.vs/Middleware_Indolge/v17/DocumentLayout.json
*.cache
/Middleware_Indolge/obj/Debug/net9.0/Middleware_Indolge.AssemblyInfoInputs.cache
*.sqlite-journal
/.vs/slnx.sqlite
/Middleware_Indolge/obj/Debug/net9.0/Middleware_Indolge.AssemblyInfo.cs
/Middleware_Indolge/obj/Release/net9.0/Middleware_Indolge.AssemblyInfo.cs
