################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Middleware_Indolge/v17/DocumentLayout.tmp.json
*.vsidx
*.bin
/.vs/Middleware_Indolge/v17/DocumentLayout.backup.json
/.vs/Middleware_Indolge/v17/.suo
/.vs/Middleware_Indolge/v17/.futdcache.v2
/.vs/Middleware_Indolge/v17/DocumentLayout.json
/Middleware_Indolge/obj/Middleware_Indolge.csproj.nuget.g.props
/Middleware_Indolge/obj/Middleware_Indolge.csproj.nuget.dgspec.json
/Middleware_Indolge/obj/project.nuget.cache
/Middleware_Indolge/obj/project.assets.json
*.editorconfig
*.cache
/Middleware_Indolge/obj/Debug/net9.0/Middleware_Indolge.csproj.CoreCompileInputs.cache
/Middleware_Indolge/obj/Debug/net9.0/Middleware_Indolge.dll
/Middleware_Indolge/obj/Debug/net9.0/Middleware_Indolge.pdb
/Middleware_Indolge/obj/Debug/net9.0/ref/Middleware_Indolge.dll
/Middleware_Indolge/obj/Debug/net9.0/refint/Middleware_Indolge.dll
/Middleware_Indolge/obj/Debug/net9.0/Middleware_Indolge.AssemblyInfoInputs.cache
/Middleware_Indolge/obj/Debug/net9.0/Middleware_Indolge.assets.cache
/Middleware_Indolge/obj/Debug/net9.0/EndpointInfo/Middleware_Indolge.json
/Middleware_Indolge/bin/Debug/net9.0/Middleware_Indolge.pdb
/Middleware_Indolge/bin/Debug/net9.0/Middleware_Indolge.dll
/.vs/Middleware_Indolge/DesignTimeBuild/.dtbcache.v2
*.sqlite
/Middleware_Indolge/obj/Debug/net9.0/Middleware_Indolge.AssemblyInfo.cs
/Middleware_Indolge/obj/Release/net9.0/Middleware_Indolge.AssemblyInfo.cs
*.dll
*.exe
*.pdb
*.json
*.zip
*.txt
*.props
/Middleware_Indolge/obj/Debug/net9.0/Middleware_Indolge.genruntimeconfig.cache
*.Up2Date
/Middleware_Indolge/bin/Debug/net9.0/Middleware_Indolge.exe
/Middleware_Indolge/obj/Debug/net9.0/Middleware_Indolge.csproj.FileListAbsolute.txt
/Middleware_Indolge/obj/Debug/net9.0/apphost.exe
/Middleware_Indolge/appsettings.json
/Middleware_Indolge/bin/Debug/net9.0/appsettings.json
/Middleware_Indolge/obj/Debug/net9.0/Middleware_Indolge.sourcelink.json
/.vs/Middleware_Indolge/CopilotIndices/17.14.734.62261
/Middleware_Indolge/obj/Debug/net9.0/Middleware_Indolge.GeneratedMSBuildEditorConfig.editorconfig
/.vs/Middleware_Indolge/copilot-chat/39cd3632/sessions
/Middleware_Indolge/obj/Debug/net9.0/Middleware_Indolge.GeneratedMSBuildEditorConfig.editorconfig
/Middleware_Indolge/Middleware_Indolge.csproj
/Middleware_Indolge/obj/Debug/net9.0/Middleware_Indolge.GeneratedMSBuildEditorConfig.editorconfig
/Middleware_Indolge/obj/Debug/net9.0/Middleware_Indolge.GeneratedMSBuildEditorConfig.editorconfig
/Middleware_Indolge/Middleware_Indolge.csproj
/Middleware_Indolge/obj/Debug/net9.0/Middleware_Indolge.GeneratedMSBuildEditorConfig.editorconfig
/.vs
/Middleware_Indolge/obj/Middleware_Indolge.csproj.nuget.g.targets
Middleware_Indolge/obj/Debug/net9.0/Middleware_Indolge.GeneratedMSBuildEditorConfig.editorconfig
/Middleware_Indolge/Middleware_Indolge.csproj
