################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Middleware_Indolge/v17/DocumentLayout.tmp.json
*.vsidx
